body {
  width: 320px;
  font-family: cursive;
  padding: 8px;
  margin: 0;
  background-color: #25343F;
  color: #EAEFEF;
}

.container {
  border: 3px solid #FF9B51;
  padding: 15px;
  background-color: #25343F;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

/* TEXTAREA */
textarea {
  width: 100%;
  height: 70px;
  margin-bottom: 12px;
  font-family: cursive;
  color: #25343F;
  background-color: #EAEFEF;
  border: 4px solid #BFC9D1;
  border-radius: 8px;
  padding: 6px;
  resize: none;
  outline: none;
}

textarea:focus {
  box-shadow: 0 0 3px #FF9B51;
  border-color: #FF9B51;
}

/* BUTTON */
button {
  padding: 6px;
  margin-bottom: 15px;
  cursor: pointer;
  font-family: cursive;
  border: 3px solid #FF9B51;
  width: 60%;
  background-color: #FF9B51;
  color: #25343F;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #EAEFEF;
  color: #25343F;
}

/* LIST */
ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

/* LIST ITEM */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #BFC9D1;
  color: #25343F;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 2px solid #FF9B51;
  font-size: 13px;
  word-break: break-word;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* li:hover {
  transform: scale(1.02);
  box-shadow: 0 0 6px #E3D095;
} */

/* DELETE BUTTON INSIDE LI */
li button {
  width: auto;
  padding: 3px 6px;
  font-size: 12px;
  margin: 0;
  background-color: #25343F;
  color: #EAEFEF;
  border: 2px solid #FF9B51;
  border-radius: 4px;
}

li button:hover {
  background-color: #FF9B51;
  color: #25343F;
}

/* TOAST MESSAGE */
#toast {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF9B51;
  color: #25343F;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, bottom 0.3s ease;
  border: 2px solid #EAEFEF;
}

/* When active */
#toast.show {
  opacity: 1;
  bottom: 25px;
}